const char ssid[] = "";
const char pass[] = "";

const char mqtt_host[] = "";
const char mqtt_port[] = "1883";
const char mqtt_username[] = "";
const char mqtt_password[] = "";
const char mqtt_topic[] = "/GD/Blah";
